<section class="home">

  <div class="container">

    <table slk-table [dataSource]="dataSource" slkSort (slkSortChange)="test($event)">

      <ng-container slkColumnDef="FIRST_NAME">

        <th slkHeaderCell *slkHeaderCellDef slk-sort-header>FIRST_NAME</th>

        <td slkCell *slkCellDef="let row">{{ row.FIRST_NAME }}</td>

      </ng-container>

      <ng-container slkColumnDef="LAST_NAME">

        <th slkHeaderCell *slkHeaderCellDef slk-sort-header>Last Name</th>

        <td slkCell *slkCellDef="let row">{{ row.LAST_NAME }}</td>

      </ng-container>

      <ng-container slkColumnDef="EMAIL">

        <th slkHeaderCell *slkHeaderCellDef slk-sort-header>Email</th>

        <td slkCell *slkCellDef="let row">{{ row.EMAIL }}</td>

      </ng-container>

      <ng-container slkColumnDef="PASSWORDS">

        <th slkHeaderCell *slkHeaderCellDef slk-sort-header>PASSWORDS</th>

        <td slkCell *slkCellDef="let row">{{ row.PASSWORDS }}</td>

      </ng-container>

      <ng-container slkColumnDef="ROLES">

        <th slkHeaderCell *slkHeaderCellDef slk-sort-header>ROLES</th>

        <td slkCell *slkCellDef="let row">{{ row.ROLES }}</td>

      </ng-container>

      <ng-container slkColumnDef="LOCATIONS">

        <th slkHeaderCell *slkHeaderCellDef slk-sort-header>LOCATIONS</th>

        <td slkCell *slkCellDef="let row">{{ row.LOCATIONS }}</td>

      </ng-container>

      <tr slk-header-row *slkHeaderRowDef="columns"></tr>

      <tr slk-row *slkRowDef="let row: columns: columns"></tr>

    </table>

  </div>

</section>