<section class="home">

  <div class="container" *ngIf="expression">
    <!-- {{ dataSource.data | json }} -->
    <!-- <table slk-table [dataSource]="dataSource" slkSort (slkSortChange)="test($event)" (scrollToBottom)="scrolled($event)">  -->
    <table slk-table [dataSource]="dataSource" (scrollToBottom)="scrolled($event)" [length]="totalLength" slkFilter slkRowSelect>


      <ng-container slkColumnDef="FIRST_NAME">

        <th slkHeaderCell *slkHeaderCellDef>
          <slk-filter-header></slk-filter-header>
          FIRST_NAME
        </th>

        <td slkCell *slkCellDef="let row">{{ row.FIRST_NAME }}</td>

      </ng-container>

      <ng-container slkColumnDef="LAST_NAME">

        <th slkHeaderCell *slkHeaderCellDef>
          <slk-filter-header></slk-filter-header>
          Last Name
        </th>

        <td slkCell *slkCellDef="let row">{{ row.LAST_NAME }}</td>

      </ng-container>

      <ng-container slkColumnDef="EMAIL">

        <th slkHeaderCell *slkHeaderCellDef>
          <slk-filter-header></slk-filter-header>
          Email
        </th>

        <td slkCell *slkCellDef="let row">{{ row.EMAIL }}</td>

      </ng-container>

      <ng-container slkColumnDef="PASSWORDS">

        <th slkHeaderCell *slkHeaderCellDef>
          <slk-filter-header></slk-filter-header>
          PASSWORDS
        </th>

        <td slkCell *slkCellDef="let row">{{ row.PASSWORDS }}</td>

      </ng-container>

      <ng-container slkColumnDef="ROLES">

        <th slkHeaderCell *slkHeaderCellDef>
          <slk-filter-header></slk-filter-header>
          ROLES
        </th>

        <td slkCell *slkCellDef="let row">{{ row.ROLES }}</td>

      </ng-container>

      <ng-container slkColumnDef="LOCATIONS">

        <th slkHeaderCell *slkHeaderCellDef>
          <slk-filter-header></slk-filter-header>
          LOCATIONS
        </th>

        <td slkCell *slkCellDef="let row">{{ row.LOCATIONS }}</td>

      </ng-container>

      <ng-container slkColumnDef="Row_Select">
        <th *slkHeaderCellDef></th>
        <td *slkCellDef="let element">
          <slk-select-row (click)="onclick(element)"></slk-select-row>
        </td>
      </ng-container>

      <tr slk-header-row *slkHeaderRowDef="columns"></tr>

      <tr slk-row *slkRowDef="let row: columns: columns"></tr>

    </table>

    <!-- <slk-paginator
      [length]="100"
      [pageSize]="10">
    </slk-paginator> -->

  </div>

</section>