<!-- <section class="home">
  <div class="container">
		<slk-grid
		  [dataSource]="dataSource"
          [searchRequired]="searchRequired"
          [columns]="columns" 
          [pagination]="pagination"
          [rowsPerPage]="rowsPerPage"
          [clientRendering]="clientRendering"
          [rowClickable]="rowClickable"
          (rowClick)="onRowClick($event)"
          [sort]="sort"
          [sortColumns]="sortColumns"
          (sortEvent)="onSort($event)">

		</slk-grid>
  </div>
</section> -->

<section class="home">

  <div class="container">

    <table slk-table [dataSource]="dataSource">

      <ng-container slkColumnDef="username">

        <th *slkHeaderCellDef>User Name</th>

        <td *slkCellDef="let row">{{ row.username }}</td>

      </ng-container>

      <ng-container slkColumnDef="lastname">

        <th *slkHeaderCellDef>Last Name</th>

        <td *slkCellDef="let row">{{ row.lastname }}</td>

      </ng-container>

      <ng-container slkColumnDef="password">

        <th *slkHeaderCellDef>Pwd</th>

        <td *slkCellDef="let row">{{ row.password }}</td>

      </ng-container>

      <tr slk-header-row *slkHeaderRowDef="['username', 'lastname', 'password']"></tr>

      <tr slk-row *slkRowDef="let row: columns: ['username', 'lastname', 'password']"></tr>

    </table>

  </div>

</section>