$slk-sort-header-pointer-container-size: 12px;
.slk-sort-header-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    .slk-sort-header-disabled & {
        cursor: default;
    }
}

.slk-sort-header-button {
    border: none;
    background: 0 0;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: inherit;
    outline: 0;
    font: inherit;
    color: currentColor;
}

.slk-sort-header-pointer {
    height: $slk-sort-header-pointer-container-size;
    width: $slk-sort-header-pointer-container-size;
    position: relative;
    display: flex;
}

.slk-sort-header-pointer-design {
    background: currentColor;
    height: 10px;
    width: 2px;
    margin: auto;
    display: flex;
    align-items: center;
}