<div fxLayout="column" fxFlexFill>

  <div fxFlex="10" fxLayout="row" *ngIf="searchRequired">

      <div fxFlex></div>

      <app-search (filterTable)="onFiltering($event)"></app-search>

  </div>


  <div fxFlex="70" fxFlexFill>

      <div fxFlexFill class="ngx-table-wrapper" (scroll)="onScroll($event)">

          <table #table>

              <tr>

                  <th *ngFor="let column of columns">

                      <span *ngIf="column != ''">{{ column }}</span>
                      <span *ngIf="column == ''" class="row-click-wrapper">
                          &nbsp;&nbsp;&nbsp;&nbsp;
                      </span>
                  </th>

              </tr>

              <tr *ngFor="let data of dataSource; let i = index;" #ngForChanges>

                  <td *ngFor="let column of columns; let last = last;">

                     <span *ngIf="column != ''">
                         {{ data[column] }}
                     </span> 
                     <span 
                     *ngIf="column == ''" 
                     class="row-click-wrapper" 
                     (click)="onRowClick(this, i, last)">
                          {{ data[column] }}
                     </span>

                  </td>

              </tr>

          </table>

      </div>

  </div>


  <div fxFlex="10" fxLayout="row" fxLayoutAlign="end" class="footer-wrapper" *ngIf="pagination">

      <div fxFlex="5" fxLayoutAlign="end">
          <button mat-raised-button [disabled]="selectedPage === 1" (click)="onNavLeft()" class="button">
              <!-- <mat-icon>chevron_left</mat-icon> -->
              <span> < </span>
          </button>
      </div>

      <div fxFlex="5" fxLayoutAlign="end" *ngFor="let page of totalPages">
          <button (click)="selectedPage = page; onPageChange(page)" [ngClass]="{'button-active': selectedPage === page, 'button-inactive': selectedPage !== page}"
              id="button-{{page}}">
              {{ page }}
          </button>
      </div>

      <div fxFlex="5" fxLayoutAlign="end">
          <button [disabled]="selectedPage === actualPages" (click)="onNavRight()" class="button">
              <!-- <mat-icon>chevron_right</mat-icon> -->
              <span> > </span>
          </button>
      </div>

  </div>

</div>